<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Title</title>
    </head>
    <body>

        <!--
            Page header
        -->
        <header>
            <p>Create your banner here!</p>
        </header>

        <!--
             Main page section
         -->
        <main>

            <nav id="main-menu">
                <ul>
                    <li><a href="#article-1">Article 1</a></li>
                    <li><a href="#article-2">Article 2</a></li>
                </ul>
            </nav>

            <aside>
                <h2>Table of contents</h2>
                <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                </ul>
            </aside>

            <article id="article-1">
                <h2>Article 1</h2>
                <p>Text for topic 1</p>
            </article>

            <article id="article-2">
                <h2>Article 2</h2>
                <p>Text for topic 2</p>
            </article>

        </main>

        <!--
            Page footer
        -->
        <footer>
            <p>Create your footer here!</p>
        </footer>
    </body>
</html>