<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HTML Templates</title>
    </head>
    <body>
        <h1>HTML Templates</h1>
        <p>These templates are complete HTML pages.</p>
        <ul>
            <li><a href="simple.html">Simple Page HTML</a></li>
            <li><a href="basic.html">Basic HTML Tags</a></li>
            <li><a href="basic.html">Basic HTML Tags</a></li>
            <li><a href="templates.html">All Templates</a></li>
        </ul>
        <p>These template demonstrate how to use HTML elements.</p>
        <ul>
            <li><a href="headline.html">Headline</a></li>
            <li><a href="subhead.html">Subheading</a></li>
            <li><a href="hyperlink.html">Hyperlink</a></li>
            <li><a href="paragraph.html">Paragraph</a></li>
        </ul>
    </body>
</html>