<h1>Validation Tools</h1>

<p>
    <a href="http://bacs200.unco.edu/BACS_200/index.html">BACS 200 Web Server</a>
</p>

<h2>HTML Validation</h2>
<p>
    <a href="https://validator.w3.org">HTML Validator</a>
</p>
<p>
   <a href="https://validator.w3.org/nu/?doc=http://bacs200.unco.edu/BACS_200/index.html">Validate BACS 200 Web Server</a>
</p>
<p>
    <a href="http://bacs200.unco.edu/BACS_200/index.html">BACS 200 Web Server</a>
</p>

<h2>CSS Validation</h2>
<p>
    <a href="http://jigsaw.w3.org/css-validator">CSS Validator</a>
</p>
<p>
   <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://bacs200.unco.edu/BACS_200/index.html">Validate BACS 200 Web Server</a>
</p>
